<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Text Grid Uploader</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{=URL('static/jQuery-File-Upload','css/style.css')}}">
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{=URL('static/jQuery-File-Upload','css/jquery.fileupload-ui.css')}}">
<noscript><link rel="stylesheet" href="{{=URL('static/jQuery-File-Upload','css/jquery.fileupload-ui-noscript.css')}}"></noscript>
</head>

<body>
    <div class="container" style="background-color:rgb(238, 238, 238)">
    <h1>Analyse Uploadeded files:</h1>
    <p>Here you would be find the analysed files and groups.</p>
    <ul class="nav nav-tabs">
    {{for k in answer.keys():}}<li><a href="#{{=k}}" data-toggle="tab">{{=k}}</a></li>{{pass}}
	</ul>
	<div class="tab-content" style="background-color:#FFF;margin-bottom:10px">
	{{for key,value in answer.items():}}
	<div class="tab-pane fade" id="{{=key}}">
		{{for i in value:}}
		<h3 style="margin-top:0px">
		{{if (i["name"]=="whole"):}}
			{{i["name"]="Group"}}
		{{pass}}
			{{=i["name"]}}</h3>
		<div class="text-center" style="width:90%">
		<table class="table">
		<thead>
		<tr><th>Speaker</th><th>Median(Length)</th><th>Average(Length)</th><th>Count(Speeches)</th></tr>
		</thead>
		{{values=i["stats"].viewvalues()}}
  		{{for key,value in i["stats"].items():}}
  			{{if(key!="group"):}}
			<tr><td>{{=key}}</td><td>{{=value.get_median()}}</td><td>{{=value.get_average()}}</td><td>{{=value.get_count()}}</td></tr>
  			{{pass}}
		{{pass}}
		</table>
		</div>
		{{pass}}
		</div>
	{{pass}}
	</div>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/vendor/jquery.ui.widget.js')}}"></script>
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/jquery.fileupload.js')}}"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/jquery.fileupload-fp.js')}}"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/jquery.fileupload-ui.js')}}"></script>
<script src="{{=URL('static/jQuery-File-Upload','js/main.js')}}"></script>
<div class="container" style="background-color:rgb(245, 245, 245);margin-top:15px">
<p class="text-muted credit" style="padding-top:15px">
<span dir="ltr">
Code is open source and can be <a href="https://github.com/pouyana/teireader/archive/master.zip">downloaded</a>.
</span>
<span class="pull-right">Session:{{=session_id}}</span>
</p>
</div>
</div>
</body> 
</html>